<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
        integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body>

    <header></header>
    <div id="app">

        <!-- Main container, contiene tutta la chat -->
        <div class="container main_container d-flex p-0">

            <!-- lato sinistro del container contenente tutte le chat, notifiche e barra di ricerca -->
            <div class="contact bg-lighter">

                <!-- User utente -->
                <div class="card d-flex flex-row border-dark-subtle rounded-0 bg_light_grey">
                    <div class="avatar">
                        <img :src="me.avatar">    
                    </div>

                    <!-- User select -->
                    <div class="profile w-100 d-flex justify-content-between align-items-center">
                        <div class="info_profile">
                            
                            <h4 class="ps-1">{{me.name}}</h4>
                        </div>

                        <div class="icon pe-3 text-secondary">
                            <a href="#" class="text-secondary text-decoration-none">
                                <i class="fa-solid fa-circle-notch px-1"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none">
                                <i class="fa-solid fa-message px-1"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none">
                                <i class="fa-solid fa-ellipsis-vertical px-1"></i>
                            </a>                                                       
                        </div>
                    </div>
                </div>

                <!-- Ricevi notifiche di nuovi messaggi -->
                <div class="card d-flex flex-row border-light-subtle rounded-0 bg-info">
                    <div class="avatar bg-secondary-subtle text-info rounded-5 pt my-3 mx-2 ">
                        <i class="fa-solid fa-bell-slash avatar text-info text-center p-2"></i>
                    </div>
                    <div class="info_profile rounded_icon">
                        <h5>Ricevi notifiche di nuovi messaggi</h5>
                        <a href="#" class="text-secondary">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!-- Barra di ricerca delle chat -->
                <div class="card d-flex flex-row align-items-center">
                    

                    <!-- Barra di ricerca -->
                    <div class="p-1 w-100">

                        <div class="input-group px-1 py-2">
                            <span class="input-group-text border-end-0" id="basic-addon1">
                                <a href="#" class="text-secondary text-decoration-none">
                                    <i class="fa-solid fa-magnifying-glass ps-1"></i>
                                </a>
                            </span>
                            <input type="text" class="form-control text-center border-start-0" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                          </div>
                        
                        
                    </div>
                    
                </div>
                
                  <!-- Qui ci sono tutte le chat vecchie? -->
                  <div class="chat_old">
                      <div class="row">
                          <div class="col">

                            <!-- Chat -->
                              <div @click="activeContact = index" :class="index === activeContact ? 'active' : ''" v-for="(contact, index) in contacts" class="card d-flex flex-row border-light-subtle rounded-0">
                                  <div class="avatar">
                                      <img :src="`./assets/img/avatar${contact.avatar}.jpg`" alt="">
                                  </div>
                                  <div class="info_profile">
                                      <h5>{{contact.name}}</h5>
                                      <p>Ultimo messaggio inviato</p>
                                  </div>
                                  <div class="time justify-content-end">
                                    <p>12:00</p>
                                  </div>
                              </div>
                              
                              <!-- <div class="card d-flex flex-row border-light-subtle rounded-0">
                                  <div class="avatar">
                                      <img src="./assets/img/avatar_1.jpg" alt="">
                                  </div>
                                  <div class="info_profile">
                                      <h4>Nome</h4>
                                      <p>Message</p>
                                  </div>
                                  <div class="time justify-content-end">
                                    <p>orario</p>
                                  </div>
                              </div>
      
                              <div class="card d-flex flex-row border-light-subtle rounded-0">
                                  <div class="avatar">
                                      <img src="./assets/img/avatar_1.jpg" alt="">
                                  </div>
                                  <div class="info_profile">
                                      <h4>Nome</h4>
                                      <p>Message</p>
                                  </div>
                                  <div class="time justify-content-end">
                                    <p>orario</p>
                                  </div>
                              </div>
      
                              <div class="card d-flex flex-row border-light-subtle rounded-0">
                                  <div class="avatar">
                                      <img src="./assets/img/avatar_1.jpg" alt="">
                                  </div>
                                  <div class="info_profile">
                                      <h4>Nome</h4>
                                      <p>Message</p>
                                  </div>
                                  <div class="time justify-content-end">
                                    <p>orario</p>
                                  </div>
                              </div>
      
                              <div class="card d-flex flex-row border-light-subtle rounded-0">
                                  <div class="avatar">
                                      <img src="./assets/img/avatar_1.jpg" alt="">
                                  </div>
                                  <div class="info_profile">
                                      <h4>Nome</h4>
                                      <p>Message</p>
                                  </div>
                                  <div class="time justify-content-end">
                                    <p>orario</p>
                                  </div>
                              </div>
      
                              <div class="card d-flex flex-row border-light-subtle rounded-0">
                                  <div class="avatar">
                                      <img src="./assets/img/avatar_1.jpg" alt="">
                                  </div>
                                  <div class="info_profile">
                                      <h4>Nome</h4>
                                      <p>Message</p>
                                  </div>
                                  <div class="time justify-content-end">
                                    <p>orario</p>
                                  </div>
                              </div> -->
                          </div>
      
                      </div>
                  </div>

            </div>

            <!-- Qui visualizzeremo la chat selezionata -->
            <div class="chat_message_global text-start d-flex flex-column justify-content-between ">
                <div class="card d-flex flex-row bg_light_grey rounded-0 clr_grey">
                    <div class="avatar">
                        <img :src="`./assets/img/avatar${contacts[activeContact].avatar}.jpg`" alt="">
                    </div>
                    <!-- chat activeContact (selezionata) -->
                    <div class="profile w-100 d-flex justify-content-between align-items-center">
                        <div class="info_profile">
                            <h5 class="ps-1">{{contacts[activeContact].name}}</h5>
                            <p class="ps-1 text-dark-emphasis">Ultimo messaggio oggi alle 12:00</p>
                        </div>
                        <div class="icon pe-3 text-secondary">
                            <a href="#" class="text-secondary text-decoration-none">
                                <i class="fa-solid fa-magnifying-glass px-1"></i>
                            </a>
                            <a href="#" class="text-secondary text-decoration-none">
                                <i class="fa-solid fa-paperclip px-1"></i>                               
                            </a>
                            <a href="#" class="text-secondary text-decoration-none">
                                <i class="fa-solid fa-ellipsis-vertical px-1"></i>
                            </a>
                        </div>
                    </div>
                </div>
                
                <!-- Chat inviati e ricevuti -->

                <!-- Messaggi inviati -->
                <div class="mess_sent d-flex flex-column">

                    <div>
                       
                        <!-- <div class="sent">
                            {{newMessage.text}}
                            <i class="fa-solid fa-trash"
                            @click="deleteNewMessage(i)"
                            ></i>
                        </div> -->

                    </div>

                </div>

                <!-- Messaggi ricevuti -->
                <div class="received flex-column" 
                    v-for="(contact, index) in contacts[activeContact].messages" :class="contact.status == 'sent' ? ['sent', 'align-self-start'] : ['received', 'align-self-end']">
                   <p>{{contact.message}}</p> 
                   <div class="counter"><!-- {{count}} --></div>
                   <!-- <button v-on:click="aumentaCount">+</button>
                   <button v-on:click="diminuisceCount">-</button> -->
                </div>
                
                <div class="card clr_new_mess d-flex flex-row align-items-center">
                    <div class="clr_new_mess p-1 text-secondary">
                        <a href="#" class="clr_new_mess text-secondary text-decoration-none">
                            <i class="clr_new_mess fa-regular fa-face-smile ps-1"></i>
                        </a>
                    </div>
                   
                    <!-- Barra inserisci nouvo messaggio -->
                    <div class="clr_new_mess p-1 w-100">
                        <input  v-model="newMessage.text" type="text" class="form-control text-start" id="exampleFormControlInput1" placeholder="Invia un messaggio">
                    </div>
                    <div class="clr_new_mess p-1 text-secondary">
                        <a href="#" class="clr_new_mess text-secondary text-decoration-none">
                            <i class="clr_new_mess fa-regular fa-regular fa-paper-plane ps-1 pe-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            
        </div>
    
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/js/script.js"></script>
</body>

</html>