*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    position: relative;
}
header{
    background-color: aquamarine;
    height: 150px;
}
.main_container{

    background-color: #ffffff;
    height: 800px;
    position: absolute;
    top: 40px;
    left: 100px;
    border: 1px solid var(--bg-secondary-card);
}
.contact {
    width: 35%;
    height: 100%;
    margin-left: 0;
}
.chat_message_global {
    width: 65%;
    height: 100%;
    background: url(../img/mine.jpg);
}
.avatar > img {
    height: 65px;
    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 0.5rem 0.5rem;
}
.info_profile > h4, .info_profile > h5, .info_profile > a {
margin: 0.5rem 0 0;
}
.info_profile > p, .time > p {
    color: var(--bg-secondary-card);
}

.clr_grey {
    background-color: var(--bg-secondary-card)
}
.chat_old {
    height: 750px;
    overflow-x: hidden;
}
.time {
    position: absolute;
    top: 5px;
    right: 10px;
}



/* Utilities */
:root {
    --bg-secondary-card: #C5C5C0;
    --bg-new-mess: #EEEEDD;
}
.pt {
    padding: 0.1rem 0;
}
.bg_new_mess {
    background-color: var(--bg-new-mess);
}
.bg_light_grey {
    background: rgba(238, 237, 237, 0.836);
}