* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: linear-gradient(to bottom, acquamarine 0);
    
    overflow: hidden;
}

/* height per la nostra app */
#app {
    height: 100vh;
    margin: 0 auto;
    
}

header {
    background-color: var(--bz-dark-green);
    height: 150px;
    position: relative;
}

.main_container {
    background-color: var(--bz-gray-light);
    position: absolute;
    top: 50px;
    left: 20%;
    border: 1px solid var(--bz-gray-light);

}

.contact {
    width: 35%;
    height: 100%;
    margin-left: 0;
}

.chat_message_global {
    width: 65%;
    background: url(../img/mine.jpg);
}

/* classe contatto selezionato */
.active {
    background: var(--bz-dark-ligh);
}

.avatar>img {
    height: 65px;
    width: 70px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin: 0.5rem 0.5rem;
}

.info_profile>h4,
.info_profile>h5,
.info_profile>a {
    margin: 0.5rem 0 0;
}

.info_profile>p,
.time>p {
    color: var(--bz-gray);
}

.clr_grey {
    background-color: var(--bz-gray-light)
}

.chat_old {
    height: 750px;
    overflow-x: hidden;
}

.time {
    position: absolute;
    top: 5px;
    right: 10px;
}

.received {
    background-color: var(--bz-sand);
    padding: 0.5rem 0.5rem 0;
    border-radius: 10px;
    margin: 0 1rem ;
    font-size: large;
}

.sent {
    background-color:var(--bz-green);
    padding: 0.5rem 0.5rem 0;
    border-radius: 10px;
    margin: 0 1rem;
    font-size: large;
}
.clr_new_mess {
    background-color: var(--bz-sand);
}



/* Utilities */
:root {
    
    --bz-dark-gray: #b1b1b1;
    --bz-gray: #d9dbd5;
    --bz-gray-light: #eaebeb;
    --bz-gray-ligther: #fbfbfa;
    --bz-white: white;
    --bz-sand: #f3eeea;
    --bz-dark: #000;
    --bz-sky: #8fdafd;
    --bz-dark-green: #019689;
    --bz-green: #d5f9ba;
}

.pt {
    padding: 0.1rem 0;
}

.bg_new_mess {
    background-color: var(--bg-new-mess);
}

